header.masthead {
  background: url(../img/bbt.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Community page css */

.wrapper{
  width: 90%;
  margin: 1rem auto;
}


/* Nav Menu Starts */

.navbar{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  position: relative;
}

.navbar-brand{
  font-size: 1.2rem;
}

.icons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: .5rem 1rem;
}

.icons_menu{
  display: block;
  font-size: 1.5rem;
  cursor: pointer;
}

.navlinksDesktop{
  display: none;
}

.navlinksMobile{
  display: none;
  background-color: #6E6A70;
  width: 100%;
  position:absolute;
  top: 60px;
  z-index: 10;
}

.navlinksMobile a{
  width: 100%;
  display: inline-block;
  color: #fff;
  padding: 1rem;
  text-decoration: none;
}

.navlinksMobile a:hover, .navlinksMobile a.active{
  color: #FCAA06;
  background-color: #5C585F;
}

#join{
  background-color: #FCAA06;
  color: white;
}

#join:hover{
  background-color: #E59A03;
  color: black;
}
/* Nav Menu Ends */

/* Hero Shot Starts */

.hero-shot{
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  width: 100%;
  height: 200px;
  padding: 3rem 0;
  background-image:url("../img/community.jpg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top:5px solid #FCAA06
}

.hero-shot__title{
  color: white;
  font-size: 1.7rem;
  letter-spacing: .1rem;
  font-weight: bold;
  margin: 0;
}

/* Hero Shot Ends */

/* Search Starts */

.tagline{
  text-align: center;
}

.search-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search-keywords, #search-zipcode{
    position: relative;
    width: 100%;
}

input#keywords, input#zipcode {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #CCCCCC;
    text-indent: 30px;
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 100%;
}

.search-icons{
  position: absolute;
  top: 16px;
  left: 10px;
  color: #757575;
}

.button {
    border-radius: 5px;
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
}

.button:focus {
      outline: none;
}

#filter-button, #update-button{
  width: 100%;
  background-color: #188AE9;
  color: white;
}

#filter-button:hover {
    background: #0b7dda;
}

#update-button{
  display: block;
  background-color: rgba(24, 138, 233, 0);
  border: 2px solid #188AE9;
  color: #188AE9;
  width: 50%;
  border-radius: 35px;
  margin: 0 auto;
  margin-top: .5rem;
}

#update-button:hover{
  background-color: #188AE9;
  color: white;
}

#search-button{
  display: none;
}

.filter-container-desktop{
  display: none;
  width: 15%;
}

.filter-container-mobile{
  display: none;
  margin: 2rem 0;
}

.filter-title{
  font-weight: bold;
  margin-bottom: 0;
}

.dropdown{
  margin-bottom: 1rem;
  width: 100%;
}

/* Search Ends */


/* Organization Container Starts */

.page-number{
  font-size: .7rem;
  margin-bottom: .5rem;
}

.card{
  margin-bottom: 1rem;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}

.card-image{
  display: none;
  width: 30%;
  height: 160px;
}

.card-text{
  padding: 1rem;
}

.card-text p{
  margin-bottom: 0;
}


h2{
  font-size: 1.3rem;
}

a.view-details{
  cursor: pointer;
  color:blue;
  text-decoration: none;
}

a.view-details:hover{
  color:#000;
}

/* Organization Container Ends */

/* Queries Begin */
@media (min-width: 640px){

  .hero-shot{
    height: 350px;
  }

  .hero-shot__title{
    font-size: 3rem;
  }

  .organization-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .card-container{
    width: 80%;
  }

  .filter-container-desktop{
    display: block;
    width: 15%;
  }

  .card-image{
    display: block;
  }

  ul.filter-list{
    list-style: none;
    padding: 0;
    color: #0F7FD0;
    cursor: pointer;
    font-size: .8rem;
  }

  ul.filter-list li:hover{
    color: #000;
  }

  .search-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #search-keywords{
      width: 55%;
  }

  #search-zipcode{
      width: 44%;
  }

  input#zipcode{
      width: 68%;
  }

  #filter-button{
    display: none;
  }

  #search-button{
    display: block;
      float: right;
    width: 30%;
  }

}

@media (min-width: 768px){

  .navbar{
    flex-direction: row;
    justify-content: space-between;
  }

  .navlinksMobile, .icons_menu{
    display: none !important;
  }

  .icons{
  width: 50%;
  }

  .navlinksDesktop{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
  width: 50%;
  }

  .navlinksDesktop a{
    width: auto;
    text-align: center;
    color: #000;
    margin-left:2rem;
    text-decoration: none;
  }

  .navlinksDesktop a.active, .navlinksDesktop a:hover{
    color: #FFAB03;
  }

  #join{
    padding: 1rem 1.5rem;
  }


.tagline{
  text-align: left;
  margin-bottom: .5rem;
}

}

@media (min-width: 1024px){
.hero-shot__title{
  font-size: 4rem;
}

.hero-shot{
  height: 350px;
}

.wrapper{
  width: 900px;
}

}
/* Queries End */

/* Community page css */
