header.masthead {
  background: url(../img/bbt.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Community page css */

/* Nav Menu Starts */

.navbar{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  position: relative;
}

.navbar-brand{
  font-size: 1.2rem;
}

.mobileIcons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: .5rem 1rem;
}

.navbar-icon{
  display: block;
  font-size: 1.5rem;
  cursor: pointer;
}

.navlinksDesktop{
  display: none;
}

.navlinksMobile{
  display: none;
  background-color: #6E6A70;
  width: 100%;
  position:absolute;
  top: 60px;
  z-index: 1;
}

.navlinksMobile a{
  width: 100%;
  display: inline-block;
  color: #fff;
  padding: 1rem;
  text-decoration: none;
}

.navlinksMobile a:hover, .navlinksMobile a.active{
  color: #FCAA06;
}

#join{
  background-color: #FCAA06;
  color: white;
}

#join:hover{
  color: black;
}
/* Nav Menu Ends */

/* Hero Shot Starts */

.hero-shot{
  background-size: cover;
background-position-x: center;
background-position-y: center;
width: 100%;
  height: 200px;
  padding: 3rem 0;
  background-image:url("../img/community.jpg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-shot__title{
  color: white;
  font-size: 1.7rem;
  letter-spacing: .1rem;
  text-align: center;
  font-weight: bold;
  margin: 0;
}

/* Hero Shot Ends */

/* Sorting Container Starts */

.wrapper{
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
}

.page-number{
  font-size: .7rem;
  margin-bottom: .5rem;
}


#search-keywords, #search-zipcode{
    position: relative;
    width: 100%;
}

input#keywords, input#zipcode {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #CCCCCC;
    background: #f1f1f1;
    text-indent: 30px;
    float: left;
    border-radius: 5px;
    margin-bottom: 1rem;
}

input#keywords{
    width: 100%;
}

input#zipcode{
    width: 68%;
}

#keywords-icon, #zipcode-icon{
  position: absolute;
  top: 16px;
  left: 10px;
  color: #757575;
}

.search-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#filter-button {
  border-radius: 5px;
    float: right;
    width: 30%;
    padding: 10px;
    background: #188AE9;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.tagline{
  text-align: center;
}

#filter-button:hover {
    background: #0b7dda;
}

#toggle-filter{
  display: none;
  padding-bottom: 1rem;
}


.input-title{
  font-weight: bold;
  margin: 1rem 0 0 0;
}

/* Sorting Container Ends */

/* Organization Container Starts */

.organization-container{
  display: flex;
  flex-direction: column;
  padding: 0 1rem .5rem 1rem;
  margin-top: -1rem;
  background-color: #F7F7F7;
}

.card{
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
}

.card-image{
  width: 100%;
}

.card-text{
  padding: 1rem 1.5rem;
  position: relative;
}

.logo{
  position: absolute;
  top: -35px;
  right: 20px;
  z-index: 1;
  width: 60px;
  height: 60px;
  background-color: white;
  box-shadow: 0 0 2px #000;
}

h2{
  font-size: 1.3rem;
}

a.view-details{
  cursor: pointer;
  color:blue;
  text-decoration: none;
}

a.view-details:hover{
  color:#000;
}

/* Organization Container Ends */

/* Queries Begin */
@media (min-width: 640px){


  .hero-shot{
    height: 350px;
  }

  .hero-shot__title{
    font-size: 3rem;
  }

}

@media (min-width: 768px){

  .navbar{
    flex-direction: row;
    justify-content: space-between;
  }

  .navlinksMobile, .navbar-icon{
    display: none !important;
  }

  .mobileIcons{
  width: 50%;
  }

  .navlinksDesktop{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
  width: 50%;
  }

  .navlinksDesktop a{
    width: auto;
    text-align: center;
    color: #000;
    margin-left:2rem;
    text-decoration: none;
  }

  .navlinksDesktop a.active, .navlinksDesktop a:hover{
    color: #FFAB03;
  }

  #join{
    padding: 1rem 1.5rem;
  }

.search-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#search-keywords{
    width: 55%;
}

#search-zipcode{
    width: 44%;
}

.tagline{
  text-align: left;
  margin: 1.5rem 0 .5rem 0;
}

}

@media (min-width: 1024px){
.hero-shot__title{
  font-size: 4rem;
}

.hero-shot{
  height: 350px;

}

}
/* Queries End */

/* Community page css */
