header.masthead {
  background: url(../img/bbt.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Community page css */


/* Nav Menu Starts */

.navbar{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar-brand{
  font-size: 1.2rem;
}

.navbar-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.navbar-icon{
  font-size: 1.5rem;
  cursor: pointer;
}

.navlinks{
  display: none;
  width: 100%;
}

#about{
  border-top: 1px solid #CCCCCC;
}

.navlinks a{
  width: 100%;
  display: inline-block;
  color: #000;
  padding: .5rem 1rem;
  border-bottom: 1px solid #CCCCCC;
  background-color: #f8f9fa;
  text-decoration: none;
}

.navlinks a:hover{
  background-color: #F1F1F1;
  color: blue;
}

.navlinks a.active{
  color: blue;
}
/* Nav Menu Ends */

/* Hero Shot Starts */

.hero-shot{
  width: 100%;
  padding: 4rem 0;
  background-color: #D8D8D8;
}

h1{
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
}
/* Hero Shot Ends */

/* Sorting Container Starts */

.sorting-container{
  padding: 1rem 1rem 0 1rem;
}

.sorting-menu{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search {
  position: relative;
  width: 75%;
}

#search-input {
  text-indent: 20px;
  border-radius: 10px;
  padding: .5rem;
  outline-offset: 0;
  border: 1px solid #B5B5B5;
  width: 100%;
}

#search-input:focus {
  outline: none;
  box-shadow: 1px 1px 5px #000;
}

.search .fa-search {
  position: absolute;
  top: 15px;
  left: 7px;
  font-size: 15px;
  color: grey;
}

#search-button{
  background-color: blue;
  border-radius: 10px;
  padding: .5rem;
  color: white;
  width: 25%;
  text-align: center;
  margin-left: .5rem;
}

#search-button:hover{
  background-color: #4352FF;
  cursor: pointer;
}

div#filter-button{
  text-align: center;
  margin: 0 auto;
  width: 100%;
  background: linear-gradient(white, #E8E6E6);
  border: 1px solid #C8C7C7;
  border-radius: 10px;
  padding: .5rem 0;
  cursor: pointer;
}

div#filter-button:active{
  transform: translateY(4px);
}

#toggle-filter{
  display: none;
  padding-bottom: 1rem;
}

.tagline{
  text-align: center;
  margin-top: 1rem;
}

.input-title{
  font-weight: bold;
  margin: 1rem 0 0 0;
}

.input-width{
  width: 100%;
}
/* Sorting Container Ends */

/* Organization Container Starts */

.organization-container{
  display: flex;
  flex-direction: column;
  padding: .5rem 1rem;
}

.card{
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #BCBBBB;
}

.card-image{
  width: 100%;
}

.card-text{
  padding: 1rem 1.5rem;
  position: relative;
}

.logo{
  position: absolute;
  top: -35px;
  right: 20px;
  z-index: 1;
  width: 60px;
  height: 60px;
  background-color: white;
  box-shadow: 0 0 2px #000;
}

h2{
  font-size: 1.3rem;
}

a.view-details{
  cursor: pointer;
  color:blue;
  text-decoration: none;
}

a.view-details:hover{
  color:#000;
}

/* Organization Container Ends */

/* Queries Begin */
@media (min-width: 640px){

  .container{
  flex-direction: row;
  }

  .inner-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45%;
  }

}
/* Queries End */

/* Community page css */
